<% provide(:title, 'Help') %>
#<!DOCTYPE html>
#<html>
#<head>
#  <title>Company FaceIT | <%= yield(:title) %></title>
#</head>
#<body>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://faceit-team.com/help">Site help company FaceIT</a>.
  To get help on this sample app, see the
  <a href="http://faceit-team.com/help">Site help company FaceIT</a>.
</p>
#</body>
#</html>